/**
 * -----------------------------------------------------------------------------
 * File: form/input
 * -----------------------------------------------------------------------------
 */

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea {

  &.is-outline {
    background-color: transparent !important;
    border-top: 1px solid $color-light-grey;
    color: $color-black;
    min-height: $space-12x;
    padding: $space-1x $space-2x;
  }
}

input.search {
  background-color: transparent;
  border-bottom: 1px solid $color-white;
  color: $color-white;
  min-height: $space-12x;
  padding: $space-1x 0;

  &::placeholder {
    color: $color-white;
  }
}

