.dropdown {
  background-color: $color-primary;
  display: inline-block;
  min-width: 125px;
  opacity: 0;
  position: absolute;
  top: 36px;
  width: auto;
  z-index: -1;

  &.is-open {
    opacity: 1;
    z-index: 1;
  }

  > a {
    @extend %p-2x;
    @include font-regular();
    @include font-size($fs-sm);
    border-bottom: 1px solid $color-white;
    display: block;
    font-weight: 400 !important;
    text-transform: none !important;

    &:hover {
      background-color: $color-secondary;
    }
  }
}

.dropdown-button {
  @extend %flex;
  position: relative;
  z-index: 1;

  svg {
    display: block;
    margin-top: 2px;
    margin-left: 8px;
  }
}