/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

%link,
.link {
  color: $color-medium-grey;
  text-decoration: none;
  transition: color .1s ease-out;
  
  &:hover {
    text-decoration: underline;
  }
}

.link-export {
  color: $color-primary;
  @include font-size($fs-md);
  text-transform: uppercase;
  @include font-bold();
}

.link-maps {
  color: $color-medium-grey;
  @include font-size($fs-md);
  text-transform: uppercase;
}