/**
 * -----------------------------------------------------------------------------
 * File: components/icons/ui
 * -----------------------------------------------------------------------------
 */

.icon {
  color: $color-primary;
}

.icon-trash {
  @extend %icon;
  color: $color-medium-grey;
  transition: color .1s ease-in;

  &:hover {
    color: $color-primary;
  }
}

.icon-plus {
  @extend %icon;
  color: $color-primary;
  height: 20px; 
  left: 50%; 
  position: absolute; 
  transform: translateX(-50%);
  top: 90px; 
  width: 20px;
}

.icon-filter {
  align-items: center;
  display: flex;

  svg {
    align-items: inherit;
    display: inherit;
  }

  &.is-active {
    color: $color-white !important;
  }
}

.icon-collection {
  @extend %icon;
  align-items: center;
  display: flex;
}

.icon-user {
  @extend %icon;
  align-items: center;
  color: $color-primary;
  display: flex; 
}

.icon-state {
  color: $color-primary;
}

.icon-browse {
  align-items: center;
  color: $color-primary;
  height: inherit;
  display: flex;
}