/**
 * -----------------------------------------------------------------------------
 * File: components/icons/ui
 * -----------------------------------------------------------------------------
 */

%icon,
.icon {
  color: $color-primary;
  display: block;
  text-decoration: none !important;

  &.is-disabled {
    color: $color-dark-blue !important;
  }
}

.icon-dark {
  color: $color-primary;
}

.icon-light {
  color: $color-medium-grey;
}

.has-selection { 
  .icon-dark {
    color: $color-light-grey;
  }
}

.icon-trash,
.icon-link-external,
.icon-pencil {
  @extend %icon;
  color: $color-medium-grey;
  transition: color .1s ease-in;
  &:hover {
    color: $color-primary;
  }
}

.icon-filter {
  align-items: center;
  display: flex;

  svg {
    align-items: inherit;
    display: inherit;
  }

  &.is-active {
    color: $color-white !important;
  }
}

.icon-collection {
  @extend %icon;
  align-items: center;
  display: flex;
}

.icon-state {
  color: $color-primary;
}

.icon-browse {
  @extend %icon;
  align-items: center;
  display: flex;
  height: inherit;
}