/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */

nav {

  li {
    display: block;
    &.page-title {
      a {
        @include font-regular();
        text-decoration: none !important;
      }
    }
  }

  a {
    display: block;
    transition: all .04s ease-in;
  }



}

.has-selector {
  nav {
    a {
      color: $color-dark-blue !important;
      &:hover {
        color: $color-white !important
      }
    }

    .page-title,
    .icon-logo {
      color: $color-dark-blue !important;
    }
  }
}