/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/page
 * -----------------------------------------------------------------------------
 */

// Backend
nav.page-menu {
  width: 100%;

  ul {
    @extend %grid-cols-10;
    align-items: center;
  }

  li {
    @extend %span-2;
    height: 60px;

    a {
      align-items: center;
      border-bottom: 1px solid $color-primary;
      color: $color-primary;
      display: flex;
      @include font-size($fs-md);
      height: inherit;
      line-height: 1 !important;
      text-transform: uppercase;
  
      span {
        display: block;
        margin-left: $space-4x;
        line-height: 1 !important;
      }
  
      svg {
        display: block;
        margin-bottom: 2px;
      }
    }

  }

  &.page-menu__offer {
    
    ul {
      @extend %grid-cols-12;
    }

    li {
      @extend %span-2;
    }

    &.is-disabled {
      * {
        border-color: $color-light-grey;
        color: $color-light-grey;
        pointer-events: none;
      }
    }
  }


  &.page-menu__collection {
    
    ul {
      @extend %grid-cols-12;
    }

    li {
      @extend %span-3;
    }

    &.is-disabled {
      * {
        border-color: $color-light-grey;
        color: $color-light-grey;
        pointer-events: none;
      }
    }
  }

  &.page-menu__apartments {
    
    ul {
      @extend %grid-cols-12;
    }

  }
}

// Frontend
nav.page-menu-collection {
  width: 100%;

  ul {
    @extend %grid-cols-10;
    align-items: center;
  }

  li {
    height: 48px;

    @include bp-sm() {
      height: 60px;
    }

    &.page-menu-collection__browse {
      align-items: center;
      border-bottom: 1px solid $color-primary;
      display: flex;
      @include font-size($fs-md);
      justify-content: space-between;
    }

    a:not(.icon-browse) {
      align-items: center;
      border-bottom: 1px solid $color-primary;
      color: $color-primary;
      display: flex;
      @include font-size($fs-md);
      height: inherit;
      line-height: 1 !important;
      text-transform: uppercase;
  
      span {
        display: block;
        line-height: 1 !important;
      }
  
      svg {
        display: block;
        margin-bottom: 2px;
      }

      svg + span,
      div + span {
        margin-left: $space-4x;
      }

      span + svg,
      span + div {
        margin-left: $space-4x;
      }
    }

  }
}



.has-selection {
  nav.page-menu {
    a {
      &:not(.is-active) {
        border-bottom: 1px solid $color-light-grey;
        color: $color-light-grey;
        pointer-events: none;
        &:hover {
          border-bottom: 1px solid $color-primary;
          color: $color-primary;
        }
      }
    }
  }
}