/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: $color-primary;
  height: $site-header-height;
  margin-bottom: $space-15x;

  &.is-detail {
    background-color: $color-dark-grey;
    margin-bottom: 0;

    .icon-collection.is-disabled {
      color: $color-grey !important;
    }
  }

  &.is-collection,
  &.is-users {
    margin-bottom: 0;
  }

  &.is-collection-list {
    margin-bottom: $space-5x;
  }

  > div {
    @extend %inner-block;
    align-items: center;
    display: flex;
    height: inherit;
  }
}