/**
 * -----------------------------------------------------------------------------
 * File: views/collection
 * -----------------------------------------------------------------------------
 */

.user-collection {

  header.site-header {
  
    &.is-collection-list {
      margin-bottom: $space-5x;
    }
  }

  .collection__intro {
    @extend %pr-6x;
    color: $color-black;
    @include font-size($fs-md);

    p {
      @extend %mb-2x;
      line-height: 1.4 !important;
    }
  }
  
  .collection__iso {
    @extend %pt-8x;
  }

  .collection__form {
    @extend %mt-10x;
    border-top: 2px solid $color-primary;
    display: block;
  }
  
}

.collection-text {

  p {
    @extend %mb-2x;
    @include font-size($fs-md);
    line-height: 1.4 !important;
  }

  a {
    color: $color-black;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;

    &:hover {
      text-decoration: none;
    }
  }
}